<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <!-- Console Logging -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loki Logging -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <labels>
            app = ${APP_NAME}
            host = ${HOSTNAME}
            environment = ${ACTIVE_PROFILE}
            level = %level
            traceID = %X{traceId:-NONE}
        </labels>
        <message>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%-50.50class] >>> %msg %n</pattern>
        </message>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI" />
    </root>
</configuration>